@import '@styles';

.slider {
  height: 100%;
}

.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
}

.home-title {
  font-size: $display-large;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;

  span {
    color: $primary;
  }

  @media (width < $breakpoint-width-tablet) {
    font-size: $display-medium;
  }

  @media (width < $breakpoint-width-mobile) {
    padding: 0rem 2rem;
    font-size: $headline-small;
  }
}

.home-description {
  text-align: center;
  font-size: $display-small;
  padding: 0rem 8rem;

  @media (width < $breakpoint-width-tablet) {
    font-size: $headline-medium;
    padding: 0rem 4rem;
  }

  @media (width < $breakpoint-width-mobile) {
    font-size: $title-small;
  }
}
