@import '@styles';

.container {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: $label-large;
  box-shadow: $shadow-box-basic;

  @media (width < $breakpoint-width-mobile) {
    padding: 1rem 1rem;
    font-size: $label-medium;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  font-size: $body-medium;
  font-weight: 500;

  p {
    @media (width < $breakpoint-width-mobile) {
      display: none;
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  font-weight: 600;

  @media (width < $breakpoint-width-mobile) {
    column-gap: 1rem;
  }
}

.info-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;

  svg {
    color: $primary;
  }

  @media (width < $breakpoint-width-mobile) {
    column-gap: 0.7rem;
  }
}
