@import "@styles";

.text {
  font-size: $headline-large;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1rem 0rem;

  span {
    color: $primary;
  }

  @media (width < $breakpoint-width-tablet) {
    font-size: $title-large;
  }

  @media (width < $breakpoint-width-mobile) {
    font-size: $title-small;
  }
}

.divider {
  width: 5rem;
  height: 0.4rem;
  background: $primary;
  border-radius: 0.3rem;

  @media (width < $breakpoint-width-mobile) {
    width: 2rem;
    height: 0.2rem;
  }
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  color: $white;

  @media (width < $breakpoint-width-tablet) {
    padding-left: 2rem;
    justify-content: flex-start;
  }
}
