$display-large: 64px;   
$display-medium: 52px;   
$display-small: 44px;   
$headline-large: 40px;   
$headline-medium: 36px;   
$headline-small: 32px;   
$title-large: 28px;   
$title-medium: 24px;   
$title-small: 22px;   
$body-large: 20px;   
$body-medium: 16px;   
$body-small: 14px;   
$label-large: 12px;   
$label-medium: 10px;   
$label-small: 8px;   